.estoque{
}
.estoque input{
  width: 50%;
  float: right
}
.logo{
  width: 70%;
}

.texto_estoque{
  text-align: center;
}
.texto_estoque span{
  font-weight: bold;
  color:
  #009688;
  font-size: 18px;
}


.btn_pesquisar_produtos{
  position: absolute;
  right: 0;
  top: 0.3em;

}
.carrinho_estoque{
  display: flex;
}
.carrinho_estoque input{
  width: 25%;
  margin-right: 10px;
}

.text-success{
    color: #28C76F !important;
    font-weight: bold !important;
}

.text-warning{
  color: #FF9F43 !important;
  font-weight: bold !important;
}
.text-danger{
  color: #EA5455 !important;
  font-weight: bold !important;
}
.text-info{
  color: #00CFE8 !important;
  font-weight: bold !important;
}
